################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManagement/UserManagement/obj
/UserManagement/.vs/UserManagement
/UserManagement/UserManagement/bin/Debug/net8.0
